<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>El madridista - panel główny</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FootballClubPresentationLayer.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="nav-container">
                <div class="nav-space">
                    <img src="~/css/img/fans.jpg" class="fan-icon"/>
                    <a class="nav-title" asp-area="" asp-controller="HomeControllerMVC" asp-action="Index">El madridista - panel główny</a>
                </div>
                <div class="navbar">
                    <ul class="list">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="HomeControllerMVC" asp-action="Index">Paneł główny</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-a" href="http://localhost:4200/Kluby">Kluby</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-a" href="http://localhost:4200/Pilkarze">Piłkarze</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-a" href="http://localhost:4200/Pracownicy">Pracownicy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-a"  href="http://localhost:4200/Statystyki">Statystyki</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="ZarzadyControllerMVC" asp-action="Index">Zarządy</a>
                        </li>
                    </ul>
                </div>
                <div class="space">
                    <h1></h1>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer" id="footer">
        <div class="container">
            <a>Stanisław Kluczewski & Mateusz Kostyra 2023</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
