<div class="add-container">
    <h1>Dodaj nowego pracownika</h1>
    <form [formGroup]="pracownik" (ngSubmit)="DodajPracownika()">
        <mat-form-field>
            <mat-label>Imie</mat-label>
            <input matInput formControlName="imie">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nazwisko</mat-label>
            <input matInput formControlName="nazwisko">
        </mat-form-field>

        <mat-form-field>
            <mat-label>PESEL</mat-label>
            <input matInput formControlName="pesel">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Wiek</mat-label>
            <input matInput formControlName="wiek">
        </mat-form-field>

        <mat-form-field>
            <mat-label>WykonywanaFunkcja</mat-label>
            <input matInput formControlName="wykonywanaFunkcja">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Wynagrodzenie</mat-label>
            <input matInput formControlName="wynagrodzenie">
        </mat-form-field>

        <button type=" submit" mat-button>Dodaj pracownika</button>
    </form>

</div>