@model FootballClubLibrary.Models.Zarzad

@{
    ViewData["Title"] = "Zmień cele zarządu";
}

<h1>Zmień cele zarządu</h1>

<form asp-action="DodajCelZarzaduID">
    <div class="zarzad-container">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdZarzad" />

        <div class="zarzad-item">
            <label asp-for="Klub.Nazwa" class="control-label">Nazwa klubu</label>
            <input asp-for="Klub.Nazwa" class="form-control" readonly />
            <span asp-validation-for="Klub.Nazwa" class="text-danger"></span>
        </div>

        <div class="zarzad-item">
            <label asp-for="Cele" class="control-label">Cele</label>
            <input asp-for="Cele" class="form-control" />
            <span asp-validation-for="Cele" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <a class="action-button" asp-action="Index">Wróć do listy zarządów</a>
        <input type="submit" value="Zmień cele" class="action-button" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}