<div class="header-container">
    <div class="title">
        <mat-icon>perm_data_setting</mat-icon>
        <h1>{{title}}</h1>
    </div>
    <div class="panel">
        <ul class="nav-bar-list">
            <li> <a class="nav-a" href="https://localhost:7160">Panel główny</a></li>
            <li><a [routerLink]="['/Klub/RealMadryt/Szczegoly']">Kluby</a></li>
            <li><a [routerLink]="['/Pilkarze']">Piłkarze</a></li>
            <li><a [routerLink]="['/Pracownicy']">Pracownicy</a></li>
            <li><a [routerLink]="['/Statystyki']">Statystyki</a></li>
            <li> <a class="nav-a" href="https://localhost:7160/ZarzadyControllerMVC">Zarząd</a></li>
        </ul>
    </div>
    <div class="title">
        <h1>{{myDate | date:"MMM d, y, h:mm:ss a"}} </h1>
    </div>
</div>