.header-container {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid transparent;
    color: rgb(255, 255, 255);
    background-color: black;
    padding-top: 5px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid darkgoldenrod;
}

.title h1 {
    font-size: 1.15rem;
    letter-spacing: 0.05rem;
    border-right: 2px solid darkgoldenrod;
    border-left: 2px solid darkgoldenrod;
    font-weight: 400;
    margin-left: 10px;
    padding: 0px 10px 0px 10px;
}

.nav-bar-list {
    list-style: none;
    display: flex;
    font-size: 1rem;
    font-weight: 300;
}

.nav-bar-list a {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    border: 1px solid darkgoldenrod;
    font-weight: 300;
    letter-spacing: 0.03rem;
    text-decoration: none;
    color: white
}

.nav-bar-list a:hover {
    background-color: rgb(233, 233, 233);
    color: black;
    border: 1px solid darkgoldenrod;
    cursor: pointer;
    transition: 0.3s;
}