.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

table {
    width: 80%;
    text-align: center;
    border: 1px solid black;
}

th,
tr {
    border: 1px solid rgb(134, 20, 162);
}

th {
    background-color: rgb(134, 20, 162);
    color: black;
}

td {
    border: 0.5px solid rgb(134, 20, 162);
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: darkgoldenrod;
    background-color: black;
    color: white;
    transition: 0.3s;
}

.demo-row-is-clicked {
    font-weight: bold;
}


.panel {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    border: 1px solid darkgoldenrod;
    margin-left: 10px;
    margin-right: 10px;
}

button:hover {
    transition: 0.3s;
    border: 1px solid gold;
}

mat-icon {
    color: darkgoldenrod;
}

mat-icon:hover {
    color: white;
    transition: 0.3s;
}