<div class="list-container">
    <div class="panel">
        <button mat-button>
            <a routerLink="/Kluby/DodajKlub">Dodaj klub</a>
        </button>
        <button mat-button>
            <a routerLink="/Kluby/DodajPilkarzaDoObecnych">Dodaj Piłkarza do Obecnych</a>
        </button>
        <button mat-button>
            <a routerLink="/Kluby/Dodaj">Dodaj Piłkarza Do Archiwalnych</a>
        </button>
        <button mat-button>
            <a routerLink="/Klub/RealMadryt/Szczegoly">Powrót do Galacticos</a>
        </button>


    </div>
    <div class="table-container">
        <table mat-table [dataSource]="otherClubs" class="mat-elevation-z8 demo-table">

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <ng-container matColumnDef="Nazwa">
                <th mat-header-cell *matHeaderCellDef>Nazwa</th>
                <td mat-cell *matCellDef="let element">{{element.nazwa}}</td>
            </ng-container>

            <ng-container matColumnDef="Stadion">
                <th mat-header-cell *matHeaderCellDef>Stadion</th>
                <td mat-cell *matCellDef="let element">{{element.stadion}}</td>
            </ng-container>

            <ng-container matColumnDef="Trofea">
                <th mat-header-cell *matHeaderCellDef>Trofea</th>
                <td mat-cell *matCellDef="let element">{{element.trofea}}</td>
            </ng-container>

            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef>Symbol</th>
                <td mat-cell *matCellDef="let element">{{element.symbol}}</td>
            </ng-container>

            <ng-container matColumnDef="Obecni Piłkarze">
                <th mat-header-cell *matHeaderCellDef>ObecniPiłkarze</th>
                <td mat-cell *matCellDef="let element"></td>
            </ng-container>

            <ng-container matColumnDef="Archiwalni Piłkarze">
                <th mat-header-cell *matHeaderCellDef>Archiwalni Piłkarze</th>
                <td mat-cell *matCellDef="let element"></td>
            </ng-container>

            <ng-container matColumnDef="Edytuj">
                <th mat-header-cell *matHeaderCellDef>Edytuj</th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/Kluby/EdytujKlub/', element.idKlub]">
                        <mat-icon aria-hidden="false" aria-label="edit" fontIcon="edit">edit</mat-icon>
                    </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="Usuń">
                <th mat-header-cell *matHeaderCellDef>Usuń</th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['']">
                        <mat-icon aria-hidden="false" aria-label="delete"
                            fontIcon="delete_forever">delete_forever</mat-icon>
                    </a>
                </td>
            </ng-container>

        </table>
    </div>
</div>