@{
    ViewData["Title"] = "Footbal-Club";
}

<div class="text-center">

    <section id="hero">
        <h2 id="tytul">Witaj w Szkółce piłkarskiej</h2> 
        <p>
            Nasza szkółka piłkarska to dynamiczna organizacja skupiająca się na rozwoju piłki nożnej. Celem jest rozwijanie talentów i promowanie sportu. Wprowadzamy nowych, 
            potencjalnych przyszłych piłkarzy do ogólnej bazy piłkarzy, którzy w przyszłości będą mieli możliwość zostania zwerbowanymi do czołowych klubów piłkarskich.
        </p>

        <p>
            Celem niniejszego projektu jest stworzenie aplikacji webowej dla klubu piłkarskiego, która umożliwi łatwy dostęp do różnorodnych informacji dotyczących klubu
            – obecnego zarządu oraz pracowników odpowiedzialnych za poprawne funkcjonowanie klubu, celów postawionych przez klub na aktualny sezon piłkarski oraz jego aktualnych
            oraz byłych piłkarzy. Aplikacja ta będzie stanowić źródło informacji dla kibiców klubu oraz osób zainteresowanych historią klubu. Dzięki stworzeniu takiej aplikacji,
            fani będą mieli możliwość przeglądania aktualnych wyników meczów, statystyk piłkarzy, a także możliwość poznania historii klubu i jego wcześniejszych osiągnięć. Aplikacja
            będzie łatwo dostępna z poziomu przeglądarki internetowej oraz zaprojektowana w sposób intuicyjny i przyjazny dla użytkownika.
        </p>
    </section>

    <section id="autorzy">
        <h2>Autorzy</h2>
        <img src="~/css/zdjecieautorow.jpg" id="ZdjecieAutorow"/>

        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>

        <script>
            var modal = document.getElementById('myModal');
            var img = document.getElementById('ZdjecieAutorow');
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img.onclick = function(){
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
            }

            var span = document.getElementsByClassName("close")[0];

            span.onclick = function() {
            modal.style.display = "none";
            }
        </script>
    </section>

</div>
